nav{
    text-align: left;       /*Start the nav at the left side*/
    height: 10%;
    margin-top:0px;
    margin: 0px auto; 
}

nav ul{
    list-style-type: none;   /*Hide the marquers*/
    padding-left:10px; 
    height:7%; 
    padding: 10px 5px 5px 5px; 
    margin: 0px auto; 

}
nav .nav-item{
    border-radius:0.5rem; 
    background-color: orange;
    padding:0.5rem;
}

nav ul li a{
    color: black;
    background-color: orange;
    border:none; 
    border-radius:0.5rem;  
    margin: auto;
    padding:0.2rem;
}
a:hover{
    color:rgb(53, 58, 59); 
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position:absolute;
    background-color: #ffffff9a;
    border-radius:0.5rem;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
display: block;
}