aside{
    float:left; 
    width: 20%; 
    border: 2px solid black; 
    background-color: rgb(249, 192, 86);

    border-radius: 5px; 
    height:100%;
    /* Separation with main section and web border */
    margin: 0.1rem 1rem 0.4rem 0.2rem;  

    /* Padding ajustment */
    padding: 0.4rem;

    /* Scrollbar */
    overflow-y: scroll;
    overflow-x: hidden;

    text-align: left;

    box-shadow:  0.2rem 0.6rem 0.4rem grey;
}

/* Contents title of the folder tree */
aside .contents-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
}

aside ul {
    list-style-type: none;
}


aside .folder-line{
    border-bottom: 1px solid;
    border-left: 1px solid;
    height: 1.5rem;
    width: 2rem;
    
    display: inline-block !important;
    
    margin-bottom: 0.3rem;
    margin-left: 1rem;
}

aside .icon{
    width: 20px; 
    height: 20px;
    vertical-align: middle;
}

aside .nav-item{
    /* vertical-align: middle;   */
    display: inline !important; 
}

aside .tree-dropdown{
    border: 1px solid black; 
    border-radius: 1rem; 

    margin-right: 0.3rem; 
}

aside .tree-dropdown-item{
    border-radius: 0.4rem;
    transform: scale(1);   
    margin: 0.5rem; 
    transition: all 0.3s ease-in-out;
}

aside .tree-dropdown-item:hover{
    transform: scale(1.05);   
}

aside .tree-dropdown-item-selected{
    border-radius: 0.4rem;
    transform: scale(1);   
    margin: 0.5rem; 
    transition: all 0.3s ease-in-out;
    background-color: rgba(144, 79, 162, 0.582);
}

.active {
    font-weight: bold;
}

