footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

    font-size: 14px;
    font-weight: bold;

    /* position: fixed; */
    bottom: 0;

    width: 100%;
    line-height: 40px;
}

footer a{
    color: white; 
    text-decoration: none;
    background-color: rgba(144, 79, 162, 0.582);
    border-radius: 0.5rem;

    padding: 0.3rem; 
    display: inline-flex;

    transition: all 0.3s ease-in-out;
}

footer a:hover{
    color: rgb(239, 203, 136); 
    transform: scale(1.05);

}